<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Employee</h1>
    </div>
</div>

<div class='details'>
    <img class='employee-image' src='pics/<%= firstName %>_<%= lastName %>.jpg'/>
    <h1><%= firstName %> <%= lastName %></h1>
    <h2><%= title %></h2>
    <h2><%= city %></h2>
    <span class="location"></span>
    <div class="topcoat-list__container scroller">
        <ul class="topcoat-list list actions">
            <% if (managerId) { %>
            <li class="topcoat-list__item"><a href="#employees/<%= managerId %>"><p>View Manager</p><p><%= managerName %></p><div class="action-icon icon-manager"/></a></li>
            <% } %>
            <% if (reports > 0) { %>
            <li class="topcoat-list__item"><a href="#employees/<%= id %>/reports"><p>View Direct Reports</p><p><%= reports %></p><div class="action-icon icon-reports"/></a></li>
            <% } %>
            <li class="topcoat-list__item"><a href="tel:<%= officePhone %>"><p>Call Office</p><p><%= officePhone %></p><div class="action-icon icon-call"></div></a></li>
            <li class="topcoat-list__item"><a href="tel:<%= cellPhone %>"><p>Call Cell</p><p><%= cellPhone %></p><div class="action-icon icon-call"></div></a></li>
            <li class="topcoat-list__item"><a href="#employees/<%= id %>/map"><p>Location</p><p><%= city %></p><div class="action-icon icon-location"></div></a></li>
            <li class="topcoat-list__item"><a href="sms:<%= cellPhone %>"><p>SMS</p><p><%= cellPhone %></p><div class="action-icon icon-sms"></div></a></li>
            <li class="topcoat-list__item"><a href="mailto:<%= email %>"><p>Email</p><p><%= email %></p><div class="action-icon icon-mail"></div></a></li>
        </ul>
    </div>
</div>
        