<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Direct Reports</h1>
    </div>
</div>

<div class="details">
    <img src='pics/<%= firstName %>_<%= lastName %>.jpg'/>
    <h1><%= firstName %> <%= lastName %></h1>
    <h2><%= title %></h2>
    <h2><%= city %></h2>
</div>

<div class="topcoat-list__container scroller"></div>
